@code {
	[CascadingParameter]
	private HttpContext HttpContext { get; set; } = default!;

	private IComponentRenderMode? PageRenderMode
		=> HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;

	private readonly string? _version = "2.0.4";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href='@Assets[$"css/app.css?v={_version}"]' />
	<link rel="stylesheet" href='@Assets[$"css/buttons.css?v={_version}"]' />
	<link rel="stylesheet" href='@Assets[$"css/account.css?v={_version}"]' />
	<link rel="stylesheet" href='@Assets[$"css/modal.css?v={_version}"]' />
	<link rel="stylesheet" href='@Assets[$"SimpLN.styles.css?v={_version}"]' />
	<ImportMap />
	<link href="manifest.webmanifest" rel="manifest" />
	<link rel="apple-touch-icon" sizes="512x512" href="media/512x512.png" />
	<link rel="apple-touch-icon" sizes="192x192" href="media/192x192.png" />
	<link rel="icon" type="image/png" href="media/favicon.png" />
	<HeadOutlet @rendermode="@PageRenderMode" />
</head>

<body>
	<Routes @rendermode="@PageRenderMode" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="js/sidebar.js?v=@_version"></script>
	<script src="js/bottommenu.js?v=@_version"></script>
	<script src="js/qrScanner.js?v=@_version"></script>
	<script src="js/nostr.js?v=@_version"></script>
	<script>navigator.serviceWorker.register('service-worker.js');</script>
	<script src="_framework/blazor.web.js"></script>
	
</body>

</html>
